[submodule "third_party/qtbase"]
	path = third_party/qtbase
	url = https://github.com/karaketir16/qtbase.git
	branch = qt6-switch-demo-v6.8.3
[submodule "third_party/qtdeclarative"]
	path = third_party/qtdeclarative
	url = https://github.com/karaketir16/qtdeclarative.git
	branch = qt6-switch-demo-v6.8.3
[submodule "third_party/qtshadertools"]
	path = third_party/qtshadertools
	url = https://github.com/karaketir16/qtshadertools.git
	branch = qt6-switch-demo-v6.8.3
